div{
    width: 25em;
    height: 25em;
}


.carousel{
    position: relative;
}

.slide{
    position: absolute;
}

.red{
    background-color: red;
}

.green{
    background-color: green;

}

.purple{
    background-color: purple;

}

.blue{
    background-color: blue;

}

.active{
    display: inline;
}

.inactive{
    display: none;
}

